/* You can add global styles to this file, and also import other style files */



@import url('https://fonts.googleapis.com/css2?family=Give+You+Glory&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');


body { 
    height: 100%;
    margin: 0; 
    background-color: skyblue; 
}
